#content {
  width: 100%;
}
.calendarToogle {
  display: flex;
  padding: 2vh;
  border-bottom: 1px solid gray;
  position: relative;
  padding-bottom: 5%;
}
.calendarBtn1 {
  width: 30%;
  float: left;
}
.week {
  background-color: rgb(68, 56, 238);
  border: 1px solid rgb(47, 47, 114);
  font-size: medium;
  padding: 2px 2px;
  border-radius: 20px 0% 0% 20px;
  color: #fff;
  position: relative;
  float: left;
  width: 50%;
}
.month {
  background-color: #fff;
  border: 1px solid rgb(47, 47, 114);
  font-size: medium;
  padding: 2px 2px;
  border-radius: 0% 20px 20px 0%;
  color: rgb(68, 56, 238);
  position: relative;
  width: 50%;
}
.calendarMonth {
  display: flex;
  text-align: center;
  padding-left: 6%;
  width: 35%;
  position: absolute;
  left: calc(50%);
  transform: translateX(-50%);
}
.calendarLeft {
  display: flex;
  justify-content: center;
  text-align: center;
  float: left;
  box-sizing: border-box;
  width: 15%;
  padding-top: 8%;
}
.calendarYear {
  display: flex;
  text-align: center;
  box-sizing: border-box;
  width: auto;
  margin: 0px;
}
.calendarRight {
  display: flex;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  width: 15%;
  padding-top: 8%;
}
.calendarBtn2 {
  width: 35%;
  float: right;
  position: absolute;
  right: 5%;
}
.btnWeekends {
  background-color: #fff;
  border: 1px solid rgb(47, 47, 114);
  font-size: large;
  padding: 2px 2px;
  border-radius: 20px;
  color: rgb(68, 56, 238);
  float: right;
  width: 35%;
}
.btnWeekends:active {
  background-color: rgb(68, 56, 238);
  border: 1px solid rgb(47, 47, 114);
  font-size: medium;
  padding: 2px 2px;
  border-radius: 20px;
  color: #fff;
  float: right;
  width: 35%;
}
.btnAddtask {
  background-color: rgb(68, 56, 238);
  border: 1px solid rgb(47, 47, 114);
  font-size: medium;
  padding: 2px 2px;
  border-radius: 20px;
  color: #fff;
  float: right;
  width: 35%;
}
.calendarCenter {
  position: absolute;
  width: 90%;
}
.tableCalendar {
  width: 100%;
  border: 1px solid rgba(200, 200, 200);
  border-bottom: none;
  border-left: 1px solid rgba(200, 200, 200);
  display: inline-table;
  margin-left: 5%;
  margin-top: 5%;
  box-shadow: 1px 1px 1px #aaa;
}

th {
  border-bottom: 1px solid rgba(200, 200, 200);
  box-shadow: 1px 1px 1px 1px #aaa;
  border-left: 1px solid rgba(200, 200, 200);
  padding: 2vh 0;
  box-sizing: border-box;
  width: 20%;
}
td {
  border-bottom: 1px solid rgba(200, 200, 200);
  box-shadow: 1px 1px 1px #aaa;
  border-left: 1px solid rgba(200, 200, 200);
  padding: 3vh 0;
  box-sizing: border-box;
}
td:hover {
  border-left: 4px solid rgb(230, 230, 97);
}
td :active {
  color: aqua;
}
