#header {
  box-sizing: border-box;
  width: 100%;
  float: left;
  display: flex;
  text-align: center;
  height: 11vh;
  border-bottom: 2px solid rgb(170, 170, 201);
}
.formSearch {
  width: 35%;
  display: flex;
  justify-self: flex-start;
  padding-left: 2vh;
  padding-top: 2vh;
}
.search {
  border-style: none;
  background-color: aliceblue;
  height: 50%;
  width: 100%;
}
.search:focus {
  outline: none;
}
.titleHeader {
  width: 50%;
  display: flex;
}
.optionHeader {
  width: 10%;
  margin-top: 2vh;
  float: right;
}
