.slideBar {
  float: left;
  background-color: aliceblue;
  width: 20%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(138, 107, 107, 0.5);
}
.titleSlideBar {
  color: rgba(206, 206, 175, 0.74);
  border-bottom: 2px solid rgb(170, 170, 201);
  padding-bottom: 1vh;
  height: 7vh;
}
.imageUser img {
  width: 6vh;
  height: 6vh;
  border: 1px solid black;
  border-radius: 50%;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: -1vh;
}
.nameSlideBar {
  color: rgba(0, 0, 0, 0.7);
}
.optionSildeBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settingSideBar,
.messageSlideBar,
.notificationSlideBar {
  box-sizing: border-box;
  width: 33.33%;
  padding-top: 2vh;
}
.crossbarSlideBar {
  margin-top: 2vh;
  border: 2px gray solid;
}
.inforUserSlideBar {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.inforUserSlideBar p {
  margin: auto;
  margin-top: -20px;
  max-width: 60%;
  text-align: center;
}
.projectSlideBar {
  margin-top: 1vh;
  border: 1px solid gray;
  border-right: none;
  border-left: none;
  padding-left: 1vh;
  width: calc(100%-1vh);
}
.titleProjects {
  display: flex;
  justify-content: flex-start;
}
.listProject {
  list-style-type: circle;
  text-align: left;
  margin-top: -2vh;
}
.teamSlidebar {
  width: 100%;
  padding-left: 1vh;
}
.imgTeams {
  width: 100%;
  display: flex;
  justify-content: left;
}
.teamSlidebar h3 {
  display: flex;
  justify-content: left;
}
.imgTeams img {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  margin-right: 1vh;
}
